ghc-master/
.vscode/
.ghc.environment.*
ghc/
ghc-lib-parser/
ghc-lib/
examples/ghc-lib-test-mini-hlint/extra-source-files/
ghc-lib-test-mini-hlint
ghc-lib-test-mini-compile
dist/
dist-newstyle/
.stack-work/
*.hi
*.o
.DS_Store
*.tar.gz
*_flymake*
\#*
\.#*
cabal.project.local
stack.yaml.lock
