dist: xenial

sudo: required

os:
- linux
- osx

script:
- curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s examples/mini-hlint/src
- curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s examples/mini-compile/src
- curl -sSL https://get.haskellstack.org/ | sh
- stack setup > /dev/null
- stack --no-terminal build
- stack runhaskell CI.hs
