# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: false
  branches:
    include:
    - master

# Enable PR triggers that target the master branch
pr:
  autoCancel: true # cancel previous builds on push
  branches:
    include:
    - master

strategy:
  matrix:
    linux-ghc-881:
      image: "Ubuntu 16.04"
      ghc-flavor: "ghc-8.8.1"
    windows-ghc-881:
      image: "vs2017-win2016"
      ghc-flavor: "ghc-8.8.1"
    mac-ghc-881:
      image: "macOS-10.13"
      ghc-flavor: "ghc-8.8.1"

    linux-da-ghc-881:
      image: "Ubuntu 16.04"
      ghc-flavor: "da-ghc-8.8.1"
    windows-da-ghc-881:
      image: "vs2017-win2016"
      ghc-flavor: "da-ghc-8.8.1"
    mac-da-ghc-881:
      image: "macOS-10.13"
      ghc-flavor: "da-ghc-8.8.1"

    linux-da-ghc-master:
      image: "Ubuntu 16.04"
      ghc-flavor: "ghc-master"
    windows-da-ghc-master:
      image: "vs2017-win2016"
      ghc-flavor: "ghc-master"
    mac-da-ghc-master:
      image: "macOS-10.13"
      ghc-flavor: "ghc-master"

pool: {vmImage: '$(image)'}

steps:
  # macOS
  - bash: |
      /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      brew install autoconf automake gmp
    condition: eq( variables['Agent.OS'], 'Darwin' )
    displayName: Install brew

  - script: |
      curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s CI.hs
      curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s examples/mini-hlint/src
      curl -sSL https://raw.github.com/ndmitchell/hlint/master/misc/travis.sh | sh -s examples/mini-compile/src
      curl -sSL https://get.haskellstack.org/ | sh
      stack setup > /dev/null
      stack --no-terminal build
      stack runhaskell CI.hs -- --ghc-flavor $(ghc-flavor)
